@model WonderDevBlogMVC2024.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>

<article>
    <div class="container">
        <h4>Post</h4>
        <hr />
        <div class="row">
            <div class = "col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>
<hr/>
<article>
    <div class="row">
        <div class="col text-center h3">Post Tags</div>

    </div>
    <div class="row">
        <div class="col text-center">
            @foreach(var tag in Model.Tags)
            {
                <a btn btn-warning btn-sm btn-outline-dark asp-action="TagIndex" asp-route-tag="@tag.Text?.ToLower()">#@tag.Text</a>
            }
        </div>

    </div>

</article>




<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@* //Init imageService(commentor's image') when comments are implemented in comments component *@