html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: whitesmoke;
    color: #E74C3C; /* Light text color for contrast */
}

header, footer {
    background-color: #070D0D; /* Primary color background */
}

h1, h2 {
    color: #2C3E50; /* Primary color text */
}
